.select {
    padding: 4px 8px;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    min-width: 180px;
    line-height: 100%;
    cursor: pointer;
}

.select:focus {
    outline: none;
    border-color: #0070f3;
}

.option:hover {
}

